@import url(./topNav.css);
@import url(./botomNav.css);
@import url(./content.css);
@import url(./creditos.css);
@import url(./tutorial.css);
@import url(./sobre.css);
@import url(./popUp.css);
@import url(./simulado.css);
@import url(./navBar.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../img/fundo.jpg');
    background-size: cover; 
    background-attachment: fixed; 
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

header{
    position: relative;
    top: 0;
    width: 100%;
}