.botomNav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2461C8;
    padding: 1.5em;
}

.botomNav a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-left: 10em;
    margin-right: 10em;
}

.botomNav a img{
    max-width: 5em;
    max-height: 3em;
}