.content_container {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

.collum1 {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.collum1 h3 {
    color: #44C1F2;
    font-size: 100px;
    text-align: center;
    text-shadow: 0 0 10px #2461C8, 0 0 20px #2461C8, 0 0 30px #2461C8, 0 0 40px #2461C8, 0 0 50px #2461C8;
    max-width: 800px;
}

hr {
    border-radius: 5px;
    border-style: none;
    height: 5px;
    width: 550px;
    background: #44C1F2;
    margin: 0 auto;
    margin-bottom: 10px;
}

.collum1 p {
    color: #44C1F2;
    text-align: center;
    text-shadow: 0 0 10px #2461C8, 0 0 20px #2461C8, 0 0 30px #2461C8, 0 0 40px #2461C8, 0 0 50px #2461C8;
    font-size: 25px;
    font-weight: bold;
}

.collum1 button {
    margin-top: 20px;
}

.collum1 button {
    height: 80px;
    width: 300px;
    background-color: #44C1F2;
    border-radius: .85em;
    border-style: none;
    padding: .5em 0px;
    transition: transform 0.3s;
}

.collum1 button:hover {
    transform: scale(1.1);
}

.collum1 button a {
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    color: whitesmoke;
}

#div1 {
    margin-top: 10px;
}

#div2 {
    margin-top: 150px;
}

.collum1 button {
    height: 80px;
    width: 300px;
    background-color: #44C1F2;
    border-radius: .85em;
    border-style: none;
    padding: .5em 0px;
    transition: transform 0.3s;
    margin-top: 20px;
}

.collum1 button:hover {
    transform: scale(1.1);
}

.collum1 button a {
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (min-width: 767px) and (max-width: 1023px){

    .content_container{
        width: 650px;
    }

    #div1{
        margin-top: 10px;
    }

    .collum1 {
        width: 550px;
    }

    .collum1 h3{
        font-size: 60px;
    }

    hr{
        border-radius: 5px;
        border-style: none;
        height: 5px; 
        width: 100px;
        background: #44C1F2; 
        margin: 0 auto; 
        margin-bottom: 10px; 
    }

    .collum1 p{
        font-size: 22px;
    }

    .collum1 button {
        height: 40px;
        width: 200px;
        background-color: #44C1F2;
        border-radius: .85em;
        border-style: none;
        padding: .5em 0px;
        transition: transform 0.3s; 
        margin-top: 20px; 
    }

    .collum1 button a {
        font-size: 20px;
        font-weight: bold;
        padding: 1em;
        text-decoration: none;
        color: whitesmoke;
    }

    #div2{
        margin-top: 80px;
    }
    
}

@media screen and (max-width: 767px) {
    .content_container{
        width: 400px;
    }

    #div1{
        margin-top: 10px;
    }

    .collum1 {
        width: 350px;
        display: flex;
        flex-direction: column; /* Alinhar os elementos verticalmente (um abaixo do outro) */
        align-items: center; /* Centralizar os elementos horizontalmente */
        text-align: center; /* Ajustado para centralizar o texto */
        margin: 0 auto;
    }

    .collum1 h3{
        font-size: 50px;
    }

    hr{
            border-radius: 5px;
            border-style: none;
            height: 5px; /* Define a altura da linha */
            width: 100px;
            background: #44C1F2; /* Define a cor da linha */
            margin: 0 auto; /* Centralize a linha horizontalmente */
            margin-bottom: 10px; /* Ajusta o espaçamento abaixo da linha */
        
    }

    .collum1 p{
        font-size: 20px;
    }

    .collum1 button {
        height: 80px;
        width: 200px;
        background-color: #44C1F2;
        border-radius: .85em;
        border-style: none;
        padding: .5em 0px;
        transition: transform 0.3s; /* Adiciona uma transição de escala */
        margin-top: 20px; /* Adicionado espaço superior para o botão */
    }

    .collum1 button a {
        font-size: 20px;
        font-weight: bold;
        padding: 1em;
        text-decoration: none;
        color: whitesmoke;
    }

    #div2{
        margin-top: 80px;
    }
}
