.content_container {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

.collum1 {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.collum1 h3 {
    color: var(--btn-bg-color);
    font-size: 100px;
    text-align: center;
    text-shadow: 0 0 10px var(--text-shadow-param), 0 0 20px var(--text-shadow-param), 0 0 30px var(--text-shadow-param), 0 0 40px var(--text-shadow-param), 0 0 50px var(--text-shadow-param);
    max-width: 800px;
}

hr {
    border-radius: 5px;
    border-style: none;
    height: 5px;
    width: 550px;
    background: var(--btn-bg-color);
    margin: 0 auto;
    margin-bottom: 10px;
}

.collum1 p {
    color: var(--btn-bg-color);
    text-align: center;
    text-shadow: 0 0 10px var(--text-shadow-param), 0 0 20px var(--text-shadow-param), 0 0 30px var(--text-shadow-param), 0 0 40px var(--text-shadow-param), 0 0 50px var(--text-shadow-param);
    font-size: 25px;
    font-weight: bold;
}

.collum1 button {
    margin-top: 20px;
}

.collum1 button {
    height: 80px;
    width: 300px;
    background-color: var(--btn-color);
    border-radius: .85em;
    border-style: none;
    padding: .5em 0px;
    transition: transform 0.3s;
}

.collum1 button:hover {
    transform: scale(1.1);
}

.collum1 button a {
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    color: var(--text-color-btn);
    /* A linha a seguir causa probleminhas visuais de responsividade */
    border: 5px solid var(--btn-border);
}

#div1 {
    margin-top: 10px;
}

#div2 {
    margin-top: 150px;
}

.collum1 button {
    height: 80px;
    width: 300px;
    background-color: var(--btn-color);
    border-radius: .85em;
    border-style: none;
    padding: .5em 0px;
    transition: transform 0.3s;
    margin-top: 20px;
}

.collum1 button:hover {
    transform: scale(1.1);
}

.collum1 button a {
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (min-width: 767px) and (max-width: 1200px) {

    .content_container {
        width: 650px;
    }

    #div1 {
        margin-top: 10px;
    }

    .collum1 {
        width: 550px;
    }

    .collum1 h3 {
        font-size: 60px;
    }

    hr {
        border-radius: 5px;
        height: 5px;
        width: 100px;
        margin-bottom: 10px;
    }

    .collum1 p {
        font-size: 22px;
    }

    .collum1 button {
        height: 80px;
        width: 200px;
        border-radius: .85em;
        padding: .5em 0px;
        transition: transform 0.3s;
        margin-top: 20px;
    }

    .collum1 button a {
        font-size: 20px;
        font-weight: bold;
        padding: 1em;
    }

    #div2 {
        margin-top: 80px;
    }

}

@media screen and (max-width: 767px) {
    .content_container {
        width: 400px;
    }

    #div1 {
        margin-top: 10px;
    }

    .collum1 {
        width: 350px;
    }

    .collum1 h3 {
        font-size: 50px;
    }

    hr {
        border-radius: 5px;
        height: 5px;
        width: 100px;
        margin-bottom: 10px;
    }

    .collum1 p {
        font-size: 20px;
    }

    .collum1 button {
        height: 80px;
        width: 200px;
        border-radius: .85em;
        border-style: none;
        padding: .5em 0px;
        transition: transform 0.3s;
        margin-top: 20px;
    }

    .collum1 button a {
        font-size: 20px;
        padding: 1em;
    }

    #div2 {
        margin-top: 80px;
    }
}