.enadeQuest{
    margin: 0% 42%;
}

.creditosContent{
    margin: 5% 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #CAE3FB;
}

.creditosContent h3{
    text-align: center;
    margin: 5% 2% 2% 0px;
}

.creditosContent p{
    margin: 0px 5% 10% 0%;
    text-align: center;
}

.creditosImg{
    margin: 5% 20%;
}

.creditosImg a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    columns: 10em 2;
    column-gap: 2em;
}

.creditosImg a img{
    max-width: 40%;
    max-height: 50px;
}