/* Define estilos para a classe 'enadeQuest' */
.enadeQuest {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Define estilos para a classe 'creditosContent' */
.creditosContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 1200px;
    color: white;
    margin: 50px 5rem 5rem 5rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Define estilos para os títulos dentro da classe 'creditosContent' */
.creditosContent h3 {
    text-align: center;
    margin: 5% 2% 2% 0px;
    font-size: 80px;
}

/* Define estilos para os parágrafos dentro da classe 'creditosContent' */
.creditosContent p {
    font-size: 50px;
    font-weight: bold;
}

/* Define estilos para a classe 'creditosImg' */
.creditosImg {
    display: grid;
}

/* Define estilos para os links dentro da classe 'creditosImg' */
.creditosImg a {
    color: blue;
}

/* Validação para garantir que isso não interfere em outros elementos */
.creditosContent a {
    color: var(--btn-bg-color);
}

/* Define estilos para as imagens dentro dos links na classe 'creditosImg' */
.creditosImg a img {
    max-width: 40%;
    max-height: 3rem;
    color: var(--btn-bg-color);
}

/* Redefine estilos para a classe 'creditosImg' com grid e margens específicas */
.creditosImg {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 5rem;
    width: 80%;
    margin: 2rem 0;
}

/* Define estilos para a classe 'title' */
.title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}

/* Define estilos para a classe 'Grupo-name' com grid e espaçamento entre colunas */
.Grupo-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

/* Define estilos para os parágrafos dentro das classes 'divCred' e 'divGrupo' */
.divCred p,
.divGrupo p {
    font-size: 20px;
}