.enadeQuest {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditosContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
    width: 1200px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.creditosContent h3 {
    text-align: center;
    margin: 5% 2% 2% 0px;
}

.creditosImg{
    display: grid;
}

.creditosImg a {
    margin-right: 20px;
    columns: 10em 2;
    column-gap: 2em;
    color: blue;
}

.creditosImg a img {
    max-width: 40%;
    max-height: 3rem;
}

.creditosImg{
    width: 100%; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.divCred, .divGrupo {
    margin-top: 50px;
    margin-bottom: 40px;
}

