.content div .bar.progress {
    height: 50px;
    width: 450px;
    background: #efefef;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    border: 2px solid black;
    margin: 5px;
    transition: width 1s ease;
    /* Add a transition for the width property */
}

.content div .bar.progress .progress {
    height: 100%;
    width: 0;
    /* Set the initial width to 0 */
    border-radius: 5px;
    background: linear-gradient(to right, var(--clr1), var(--clr2));
}

.content div .bar.progress h1 {
    position: left;
    right: 10px;
    color: var(--clr1);
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 500;
    font-size: 35px;
}

.content div .bar.progress h2 {
    position: absolute;
    left: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h3 {
    margin: 0;
    padding: 0;
    text-align: left;
} */

.container {
    /* min-height: 100vh; */
    background: #0000004b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content div .resultado {
    font-size: 30px;
    text-align: relative;
    left: 20px;
}

.content {
    top: 150px;
    position: relative;
    height: 540px;
    width: 600px;

}

.content h2 {
    color: white;
}

.content h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.content h3:last-child {
    margin-left: 60px;
    /* Adjust the value to control the spacing between the h3 elements */
}

.content div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.content div .image {
    background: #efefef;
    height: 50px;
    width: 50px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 5px #999;
}

.content div .image img {
    height: 60px;
    transition: transform 0.5s;
}

.content div .image img:hover {
    transform: scale(1.05);
}

.content div .bar {
    height: 50px;
    width: 450px;
    background: #efefef;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    box-shadow: 2px 5px 10px #999;
    border: 2px solid black;
    margin: 5px;
    /* Spacing */
    box-shadow: 0 0 10px black;
    /* Outer border with small spacing */

}


.content div .progress {
    height: 80px;
    border-radius: 20px;
    background: linear-gradient(to right, var(--clr1), var(--clr2));
}

.content div .bar h1 {
    position: left;
    right: 10px;
    color: var(--clr1);
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 500;
    font-size: 35px;
}

.content div .bar h2 {
    position: absolute;
    left: 30px;
    color: #fff;
    text-shadow: 2px 2px white;
    font-weight: 600;
    font-size: 25px;
}