.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  gap: .5rem;
  overflow-x: scroll;
  margin: 2rem 0;
  color: var(--ul-color);
}

.navBar li {
  cursor: pointer;
}

.navBar li:hover {
  transition: all .3s ease-in;
  color: var(--ul-highlight);
}