#showPopUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

#bgPop {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

/* Os três a seguir vinculados por id, se referem ao "ver mais" das estatisticas */
#desconsid {
  color: red;
}

#desconsid p {
  font-size: 14px;
  position: center;
  color: red;
}

#desconsid p:hover {
  font-size: 14px;
  color: white;
  position: center;
  cursor: pointer;
}


#popUp {
  position: relative;
  margin: 5% 30%;
  min-width: 500px;
  min-height: 250px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  z-index: 2; 
}

.popUp__title {
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid black;
}

.popUp__container {
  padding: 16px 8px;
}

.popUp__opcao__titulo {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
}

.popUp__opcao__texto {
  padding: 16px 12px;
  text-align: justify;
}

.popUp__opcao__texto__id {
  font-weight: bold;
}

.popUpTitle {
  color: black;
}

.popUpContents h2 {
  color: black;
}

.acertou {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  background-color: greenyellow;
}

.errou {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  background-color: red;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.popUpContainer {
  display: flex;
  flex-direction: column;

}

.fecharPopUp {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
}
