.questContainer {
    margin: 5% 15%;
    padding: .75em 1em;
    border: .5px solid lightgray;
    background-color: var(--quest-bg-color);
    border-radius: 1em;
}

.questContainer h1 {
    text-align: center;
    font-size: 2em;
    color: var(--text-color);
}

/* estilos para highlight de links */
.questContainer a {
    color: var(--btn-bg-color);
}

.questContainer a:hover {
    color: var(--text-highlight);
}

.questContainer h3 {
    margin: 1em 2em;
    font-size: 1.25em;
    color: var(--text-color);
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.questContainer img {
    max-width: 95%;
    max-height: 70em;
    border-radius: 1em;
}

.alterContainer {
    margin: 1em 1.5em;
    color: var(--text-color);
}

.alterId {
    font-weight: bolder;
    color: var(--text-color);
}

.btns {
    display: grid;
}

.btns button {
    padding: .25em 2em;
    border-radius: .75em;
    background-color: var(--btn-simul);
    color: var(--txt-btn-simul);
    cursor: pointer;
}

.btns button a{
    text-decoration: none;
    color: var(--text-color-btn);
}

.resultContainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.p a {
    text-decoration: none;
}

@media (max-width: 1000px) {

    .questContainer img {
        max-width: 100%;
    }

    .questContainer {
        font-size: small;
        text-wrap: balance;
    }

    .questContainer a {
        font-size: smaller;
    }
}