.containerSobre{
    height: 550px;
    max-width: 850px;
    margin: 5% auto;
    padding: 10px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center; 
    background-color: #CAE3FB;
}

.containerSobre h3{
    text-align: center;
}

.containerSobre p{
    margin-bottom: 10px;
}

.containerSobre img{
    margin-left: 2.5em;
    display: block; 
    margin: 0 auto;
}

.containerSobre button{
    margin-left: 4em;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #2461C8;
    display: block; 
    margin: 0 auto; 
    margin-top: 1em;
}

.containerSobre button a{
    text-decoration: none;
    color: whitesmoke;
}