/* Template extraído de: https://codepen.io/anythinggraphic/pen/xxKpBax */

/* CSS referente ao gráfico de estatísticas */

/* Bar Graph Vertical */
.bar-graph .uf {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

/* id's foram usados devido inconsistencia no css */
#mediaAcertos {
    margin: 0;
    padding: 10px;
    position: relative;
    top: 15px;
    left: 10px;
}


#rodape {
    margin: 0;
    padding: 5px;
    position: relative;
    top: 35px;
    left: 25px;
    color: var(--text-color);
}


#letraEscolhida,
#letraCorreta {
    margin: 0;
    padding: 5px;
    position: relative;
    top: 25px;
    left: 10px;
}

.resultados-estats {
    display: flex;
    flex-direction: column;
}

.resultados-estats h2:not(.popUpTitle) {
    color: var(--text-color);
}

.resultados-estats popUpTitle h2 {
    color: var(--text-color);
}

.bar-graph-vertical {
    margin-top: 100px;
    max-width: 900px;
    margin-left: 200px;
}

.bar-graph-vertical .bar-container {
    float: left;
    top: 10px;
    height: 170px;
    margin-right: 40px;
    position: relative;
    text-align: center;
    width: 50px;
}

.bar-graph-vertical .bar {
    border-radius: 3px;
    bottom: 40px;
    position: absolute;
    width: 60px;
}

.bar-graph-vertical .uf {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    right: 0;
}

.bar-graph-two .bar::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    right: 0;
    top: 1px;
}

.bar-graph-two .bar-one .bar {
    background-color: #64b2d1;
    -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    animation: show-bar-one-vertical 1.2s 0.1s forwards;
}

.bar-graph-two .bar-two .bar {
    background-color: #5292ac;
    -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    animation: show-bar-two-vertical 1.2s 0.2s forwards;
}

.bar-graph-two .bar-three .bar {
    background-color: #407286;
    -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    animation: show-bar-three-vertical 1.2s 0.3s forwards;
}

.bar-graph-two .bar-four .bar {
    background-color: #2e515f;
    -webkit-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    animation: show-bar-four-vertical 1.2s 0.4s forwards;
}

@media screen and (max-width: 767px) {

    .resultados-estats h2,
    h3,
    h4,
    p {
        font-size: 15px;
    }

    .bar-graph-vertical {
        margin-top: 100px;
        max-width: 10px;
        margin-left: 5px;
    }

    .bar-graph-vertical .bar-container {
        padding: 120%;
        width: 15px;
    }

    .bar-graph-two {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    .bar-graph-vertical .uf {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        text-align: right;
        position: center;
        right: 0;
        font-size: 14px;
    }


    .bar-graph-vertical .bar-container {
        float: left;
        top: 10px;
        width: 10px;
        height: 100px;
        margin-right: 40px;
        position: relative;
        text-align: center;
    }

}
