.timer-container{
  position: absolute;
  top: 15rem;
  right: 0;
  width: 10rem;
  height: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem 0rem 0rem 1rem;
  transform: translateX(70%);
  transition: all .3s ease-out;
}

.timer-container:hover{
  transform: translateX(0%);
  transition: all .3s ease-in;
}

.timer-container img{
  max-width: 2rem;
  max-height: 1.5rem;
}