.topNav_container{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    z-index: 0;
    padding: 25px;
    background-color: #6A8899;
}

.topNav_container .dropdown{
    min-height: 130px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
}

.topNav_container li{
    position: relative;
    display: block;
    transition: .5s;
    cursor: pointer;
}

.topNav_container li::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    left: 10px;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: whitesmoke;
}

.topNav_container li:hover{
    color: white;
}

.topNav_container li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.dropdown a{
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.topNav_container .dropdown a:hover{
    color: lightgray;
}

.topNav_container li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.topNav_container li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bolder;
    margin-left: 20px;
    flex-grow: 1;
}

.topNav_container li a:hover {
    transition: all ease-in-out 250ms;
    color: whitesmoke;
}

.topNav_container li a img{
    max-width: 100px;
    max-height: 50px;
}

#dif {
    margin-right: 70%;
}