<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encerramento da prova</title>
    <link rel="stylesheet" href="../css/body.css">
    <script type="module" defer> import { mostrarResultados } from '../js/app.js'; mostrarResultados(0);</script>
</head>

<body>
    <!--Divisão da parte da topNav-->
    <header>
        <ul class="topNav">
            <li class="dif"><a href="../../index.html"><img src="../img/newSimucadLogoCrop.jpeg" alt="LOGO"></a></li>
            <li><a href="./tutorial.html">Tutorial</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./creditos.html">Créditos</a></li>
        </ul>
    </header>

    <!--Div com id para troca de conteudo com aquivo JavaScript-->
    <div id="bloco"></div>

    <!--Divisão da parte do rodapé-->
    <footer class="botomNav">
        <img src="../img/logoFatec.png" alt="Logo FATEC">
        <img src="../img/adslogo.png" alt="Logo ADS">
        <img src="../img/logoCPS.png" alt="Logo CPS">
    </footer>
</body>

</html>