<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campo de Teste</title>
    <link rel="stylesheet" href="../css/body.css"><!-- Importação do arquivo CSS principal -->
    <script type="module" src="../js/app.js" defer></script> <!--Importação do arquivo JS para função de alteração de corpo-->
    <!-- <link rel="stylesheet" href="../js/alternativas.js">Importação do arquivo JS para função dos botões -->
    <script type="module" src="../js/app.js" defer></script>
</head>
<body>
    <header>
        <ul class="topNav">
            <li class="dif"><a href=""><img src="" alt="Logo ENADE"></a></li>
            <li><a href="">Tutorial</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </header>

    <div id="bloco"></div>
    
    <div id="bloco"></div>
  
    <div class="btns">
        <button type="submit" class="dif" id="voltar">Anterior</button>
        <button type="submit" id="verif">Verificar</button>
        <button type="submit" id="prox">Próxima</button>
    </div>

    <footer class="botomNav">
        <img src="../img/logoFatec.png" alt="Logo FATEC">
        <img src="../img/adslogo.png" alt="Logo ADS">
        <img src="../img/logoCPS.png" alt="Logo CPS">
    </footer>
    
    <footer class="botomNav">
        <img src="../img/logoFatec.png" alt="Logo FATEC">
        <img src="../img/logoADS.png" alt="Logo ADS">
        <img src="../img/logoCPS.png" alt="Logo CPS">
    </footer>
  
</body>
</html>