<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campo de Teste</title>
    <link rel="stylesheet" href="../css/body.css"><!-- Importação do arquivo CSS principal -->
    <script type="module" src="../js/app.js" defer></script> <!--Importação do arquivo JS para função de alteração de corpo-->
    <!-- <link rel="stylesheet" href="../js/alternativas.js">Importação do arquivo JS para função dos botões -->
    <script type="module" src="../js/app.js" defer></script>
</head>
<body>
    <!--Divisão da parte da topNav-->
    <header>
        <ul class="topNav">
            <li class="dif"><a href="../../index.html"><img src="../img/Logo-PMI1.png" alt="LOGO"></a></li>
            <li><a href="./tutorial.html">Tutorial</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./creditos.html">Créditos</a></li>
        </ul>
    </header>

    <!--Div com id para troca de conteudo com aquivo JavaScript-->
    <div id="bloco"></div>
    
    <!--Divisão da parte dos botões para troca de conteudo por meio de JavaScript-->
    <div class="container">
        <div class="btns">
            <!-- <button type="submit" class="dif" id="voltar">Anterior</button> -->
            <button type="submit" id="verif">Verificar</button>
            <button type="submit" id="prox">Próxima</button>
            <button type="submit" id="final">Finalizar</button>
        </div>
        <!-- <div id="navigationQuestion" class="questioNavegation"></div> -->
    </div>

    <!--Divisão da parte do rodapé-->
    <footer class="botomNav">
        <img src="../img/logoFatec.png" alt="Logo FATEC">
        <img src="../img/adslogo.png" alt="Logo ADS">
        <img src="../img/logoCPS.png" alt="Logo CPS">
    </footer>
  
</body>
<script type="module" src="../js/populateButtons.js"></script>
</html>