<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../css/body.css"> <!--Link do aquivo de estilização CSS-->
</head>

<body>
    <!--Divisão da parte da topNav-->
    <header>
        <ul class="topNav">
            <li class="dif"><a href="../../index.html"><img src="../img/newSimucadLogoCrop.jpeg" alt="LOGO"></a></li>
            <li><a href="./tutorial.html">Tutorial</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="./creditos.html">Créditos</a></li>
        </ul>
    </header>

    <!--Conteudo da página-->
    <div class="container">
        <div class="middleNav">
            <h3>Descrição do Projeto!</h3>
            <p>Este simulado é composto por 35 questões, contendo 5 alternativas cada, sendo somente uma correta.</p>

            <p>Nele será possível verificar a média de acertos á cada questão respondida por via de estatísticas. Tambem
                haverá a opção de cronometrar o teste se o candidato desejar, no entanto não á duração máxima para a
                prova.</p>

            <p>Projeto desenvolvido por alunos do curso de <b>ANÁLISE E DESENVOLVIMENT DE SISTEMAS</b> da Fatec
                Carapicuiba, para a disciplina <b>Programação em microinformática - PMI</b></p>

            <p><b>ORIENTADORA</b> MSc. FELIX, Rita</p>

            <p>Sistema de questões baseado no:</p>

            <p><img src="../img/logo_png.svg"></p>

            <button id="iniciarSimulado"><a href="./simulado.html">Iniciar Simulado!</button>
        </div>
    </div>

    <!--Divisão da parte do rodapé-->
    <footer class="botomNav">
        <img src="../img/logoFatec.png" alt="Logo FATEC">
        <img src="../img/adslogo.png" alt="Logo ADS">
        <img src="../img/logoCPS.png" alt="Logo CPS">
    </footer>
</body>

</html>