<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="../css/body.css"> <!--Link do aquivo de estilização CSS-->
</head>
<body>
    <!--Divisão da parte da topNav-->
    <header>
        <ul class="topNav">
            <li class="dif"><a href="../../index.html"><img src="../img/newSimucadLogoCrop.jpeg" alt="LOGO"></a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./creditos.html">Créditos</a></li>
        </ul>
    </header>

    <!--Conteudo da página-->
    <div class="container">
        <div class="middleNav">
            <h3>Como usar o site:</h3>
            <p>A utilização desse site é razoávelmente autodescritiva. Há um simulado com 34 questões de 5 alternativas
                cada, sendo apenas uma á correta</p>
            <p>O usuário terá a opção se deseja realizar o teste com ou sem cronômetro.</p>
            <p>Ao assinalar uma alternativa, o usuário terá feedback imediato de acerto ou erro, assim como visualizará
                a taxa media de acertos e erros dos outros participantes.</p>
            <p>Na parte superior do website, o usuário poderá visualizar opções de acessibilidade, podendo habilitar
                funções como modo escuro, alto contraste, brilho e luz noturna.</p>

            <button id="iniciarSimulado"><a href="./simulado.html">Iniciar Simulado!</button>
        </div>
    </div>

    <!--Divisão da parte do rodapé-->
    <footer class="botomNav">
        <img src="../img/logoFatec.png" alt="Logo FATEC">
        <img src="../img/adslogo.png" alt="Logo ADS">
        <img src="../img/logoCPS.png" alt="Logo CPS">
    </footer>
</body>
</html>