/*Aquivo de estilização da parte de botão*/
.containerBtns {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 20vh;
    min-width: 20vh;
}

.btns {
    margin: auto;
    align-self: center;
}


.btns button {
    margin-top: 40px;
    margin-right: 60px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 10px;
}

.dif {
    margin-right: 400px;
}