<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Definição do conjunto de caracteres e configurações iniciais -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos</title>

    <!-- Inclusão do ícone da página -->
    <div id="favicon"></div>

    <!-- Inclusão de scripts e estilos -->
    <script type="module" src="../js/img.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/nav.js" defer></script>
</head>

<body>
    <!-- Elemento utilizado para ancorar o menu de navegação superior -->
    <span id="topNav"></span>

    <!-- Estrutura de conteúdo para os créditos -->
    <article class="creditosContent">
        <h3>Créditos:</h3>
        <p>Direitos autorais reservados para:</p>

        <!-- Grupo de créditos com imagens e fontes -->
        <div class="creditosImg">

            <!-- Créditos para o INEP -->
            <div class="divCred">
                <a href="https://www.gov.br/inep/pt-br" target="_blank"><img src="../img/inep-logo.png"
                        alt="Logo_Inep"></a>
                <p>Fonte: <a href="https://www.gov.br/inep/pt-br" target="_blank">https://www.gov.br/inep/pt-br</a></p>
            </div>

            <!-- Créditos para o ENADE -->
            <div class="divCred">
                <a href="https://enade.inep.gov.br/enade/#!/index" target="_blank"><img src="../img/logo_png.svg"
                        alt="Logo_Enade"></a>
                <p>Fonte: <a href="https://enade.inep.gov.br/enade/#!/index"
                        target="_blank">https://enade.inep.gov.br/enade/#!/index</a></p>
            </div>

            <!-- Créditos para a Fatec Carapicuíba -->
            <div class="divCred">
                <a href="https://www.fateccarapicuiba.edu.br/" target="_blank"><img src="../img/logoFatec.png"
                        alt="Fatec - Carapicuiba"></a>
                <p>Fonte: <a href="https://www.fateccarapicuiba.edu.br/"
                        target="_blank">https://www.fateccarapicuiba.edu.br/</a></p>
            </div>

            <!-- Créditos para o curso de Análise e Desenvolvimento de Sistemas -->
            <div class="divCred">
                <a href="https://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"
                    target="_blank"><img src="../img/adslogo.png" alt="ADS"></a>
                <p>Fonte: <a href="https://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"
                        target="_blank">https://www.fateccarapicuiba.edu.br/<br>analise-e-desenvolvimento-de-sistemas/</a>
                </p>
            </div>

            <!-- Créditos para o Centro Paula Souza (CPS) -->
            <div class="divCred">
                <a href="https://www.cps.sp.gov.br/" target="_blank"><img src="../img/logoCPS.png" alt="CPS"></a>
                <p>Fonte: <a href="https://www.cps.sp.gov.br/" target="_blank">https://www.cps.sp.gov.br/</a></p>
            </div>

            <!-- Grupo de créditos para os integrantes do projeto -->
            <div class="divGrupo">
                <h4 class="title">Integrantes do Grupo:</h4>
                <div class="Grupo-name">
                    <p><b>Guerra</b>, Arthur</p>
                    <p><b>Daniel</b>, David</p>
                    <p><b>Félix</b>, Gabriel</p>
                    <p><b>Lima</b>, Hugo</p>
                    <p><b>Szczepanski</b>, Kauã</p>
                    <p><b>Santos</b>, Yuri</p>
                </div>
            </div>
        </div>
    </article>

    <!-- Elemento utilizado para ancorar o menu de navegação inferior -->
    <span id="botomNav"></span>
</body>

</html>