<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final</title>
    <div id="favicon"></div>
    <script type="module" src="../js/img.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/final.js" defer></script>
    <script type="module" src="../js/nav.js" defer></script>
</head>

<body>
    <span id="topNav"></span>

    <div id="final"></div>

    <main id="change"></main>

    <span id="botomNav"></span>
</body>

</html>