<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Definição do conjunto de caracteres e configurações iniciais -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título da página -->
    <title>Final</title>

    <!-- Inclusão do ícone da página -->
    <div id="favicon"></div>

    <!-- Inclusão de scripts e estilos -->
    <script type="module" src="../js/img.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/resultgabarito.js" defer></script>
    <script type="module" src="../js/nav.js" defer></script>
</head>

<body>
    <!-- Elemento utilizado para ancorar o menu de navegação superior -->
    <span id="topNav"></span>

    <!-- Área onde o conteúdo final será renderizado -->
    <div id="gabarito-ancora"></div>

    <!-- Elemento utilizado para ancorar o menu de navegação inferior -->
    <span id="botomNav"></span>
</body>

</html>