<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <script type="module" src="../js/nav.js" defer></script>
</head>
<body>
    <span id="topNav"></span>

    <article class="content_container">
        <img src="/img/newSimucadLogo.jpeg" alt="LOGO_SITE">
        <div class="collum1">
            <h3>Bem vindo ao Simulado para o curso Bacharelado de Ciências da Computação, do Enade 2021!</h3>
            <p>Aqui você encontrará uma versão digital do simulado Enade referente ao ano de 2021.</p>
            <button><a href="./simulado.html" onclick="limparLocalStorage()">Iniciar Simulado</a></button>
        </div>
    </article>

    <span id="botomNav"></span>
    
    <script>
        function limparLocalStorage(){
            localStorage.clear();
        }
    </script>
</body>
</html>