<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulado</title>
    <div id="favicon"></div>
    <script type="module" src="../js/img.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/nav.js"></script>
    <script type="module" src="../js/quest.js" defer></script>
    <script type="module" src="../js/timer.js" defer></script>
</head>

<body>
    <span id="topNav"></span>

    <a href="https://enade.inep.gov.br/enade/#!/index" target="_blank" class="enadeQuest"><img src="../img/logo_png.svg"
            alt="Logo enade"></a>

    <aside class="timer-container">
        <img src="../img/cronometro.png" alt="Cron">
        <p class="text-timer" id="timer-input"></p>
    </aside>

    <main id="change"></main>

    <!-- Seleção PopUp -->
    <div id="showPopUp" class="hidden">
        <div id="bgPop"></div>
        <div id="popUp"></div>
        <!-- <div id="popUp-stats"></div> -->
    </div>

    <span id="botomNav"></span>
</body>

</html>