<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulado</title>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/nav.js"></script>
    <script type="module" src="../js/quest.js" defer></script>
</head>
<body>
    <span id="topNav"></span>

    <main id="change"></main>

    <!-- Seleção PopUp -->
    <div id="showPopUp" class="hidden">
        <div id="bgPop"></div>
        <div id="popUp"></div>
    </div>

    <span id="botomNav"></span>
</body>
</html>