<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/nav.js" defer></script>
</head>
<body>
    <span id="topNav"></span>
    
    <div class="containerSobre">
        <h3>Descrição do Projeto!</h3>
        <p>Este simulado é composto por 35 questões, contendo 5 alternativas cada, sendo somente uma correta.</p>
        <p>Nele será possível verificar a média de acertos a cada questão respondida por via de estatísticas. Tambem
            haverá a opção de cronometrar o teste se o candidato desejar, no entanto não há duração máxima para a
            prova.</p>
        <p>Projeto desenvolvido por alunos do curso de <b>ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</b> da FATEC
            Carapicuiba, para a disciplina <b>Programação em Microinformática - PMI</b></p>
        <p><b>ORIENTADORA</b> MSc. FELIX, Rita</p>
        <p>Sistema de questões baseado no:</p>
        <p><img src="../img/logo_png.svg" alt="Logo_Projeto"></p>
        <button><a href="./simulado.html">Iniciar Simulado!</a></button>
    </div>

    <span id="botomNav"></span>
</body>
</html>