<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Definição do conjunto de caracteres e configurações iniciais -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título da página -->
    <title>Sobre</title>

    <!-- Inclusão do ícone da página -->
    <div id="favicon"></div>

    <!-- Inclusão de scripts -->
    <script type="module" src="../js/img.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/nav.js" defer></script>
</head>

<body>
    <!-- Elemento utilizado para ancorar o menu de navegação superior -->
    <span id="topNav"></span>

    <!-- Container principal para o conteúdo sobre o projeto -->
    <div class="containerSobre">
        <!-- Título principal -->
        <h3>Descrição do Projeto!</h3>
        <!-- Descrição do simulado -->
        <p>Este simulado é composto por 35 questões, contendo 5 alternativas cada, sendo só uma correta.</p>
        <!-- Informações adicionais sobre o simulado -->
        <p>Nele será possível verificar a média de acertos a cada questão respondida por meio de estatísticas. Também
            haverá a opção de cronometrar o teste se o candidato desejar, no entanto não há duração máxima para a
            prova.</p>
        <!-- Informações sobre o projeto e os desenvolvedores -->
        <p>Projeto desenvolvido por alunos do curso de <b>ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</b> da FATEC
            Carapicuíba, para a disciplina <b>Programação em Microinformática - PMI</b></p>
        <p><b>ORIENTADORA</b> MSc. FELIX, Rita</p>
        <!-- Referência ao sistema de questões -->
        <p>Sistema de questões baseado no:</p>
        <!-- Link para o site do ENADE -->
        <p><a href="https://enade.inep.gov.br/enade/#!/index"><img src="../img/logo_png.svg" alt="Logo_Projeto"></a></p>
        <!-- Botão para iniciar o simulado -->
        <div class="divSobBtn"><button class="btnSob"><a href="./simulado.html">Iniciar Simulado!</a></button></div>
    </div>

    <!-- Elemento utilizado para ancorar o menu de navegação inferior -->
    <span id="botomNav"></span>
</body>

</html>