.screen{
  padding: 0rem 20rem;
  top: 10rem;
}

.screen-border{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.btn{
  display: flex;
  justify-content: center;
  margin: 2rem;
}