<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tutorial</title>
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../js/nav.js" defer></script>
</head>

<body>
    <span id="topNav"></span>

    <div class="containerTutorial">
        <h3>Como usar o site:</h3>
        <p>A utilização desse site é razoavelmente autodescritiva. Há um simulado com 35 questões de 5 alternativas
            cada, sendo apenas uma á correta</p>
        <p>Ao assinalar uma alternativa e clicar no botão "Verificar", o usuário receberá feedback imediato de acerto ou
            erro.</p>
        <p><span style="font-weight: bold;">!IMPORTANTE!</span><br> após pressionar o botão "Verificar", não será
            possível mudar a resposta!</p>
        <p>O usuário pode navegar livremente entre as questões, escolhendo não responder caso deseje, ao apertar o botão
            "Finalizar" o simulado será automaticamente finalizado e mostrara a tela de resultados, caso haja.</p>
        <p>Na parte superior do website, o usuário poderá visualizar opções de acessibilidade, podendo habilitar
            funções como modo escuro, alto contraste, brilho e luz noturna.</p>
        <button><a href="./simulado.html">Iniciar Simulado!</a></button>
    </div>

    <span id="botomNav"></span>
</body>

</html>